body {
    font-family: Arial, sans-serif;
    background-color: #047cf5; 
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #ffffff;
}

table {
    width: 80%;
    table-layout: fixed; /* Ensure cells are of equal width */
    border-collapse: collapse; /* Avoid spacing between cells */
    margin: 0 auto;
}

td, th {
    border: 1px solid white;
    padding: 20px;
    text-align: center; /* Center text horizontally */
    vertical-align: middle; /* Center text vertically */
    overflow: visible; /* Prevent text overflow from affecting layout */
    white-space: normal; /* Prevent text wrapping */
    word-wrap: break-word;
}

th {
    text-transform: uppercase;
    cursor: text;
}

td {
    cursor: pointer;
}

#jeopardy td.not-allowed {
    cursor: not-allowed;  
}

#jeopardy {
    background-color: #003de698;
    color: white;
    font-size: 9pt;
    margin: 0 auto;
}

#restart {
    margin: 15px;
    padding: 10px 20px;
    background-color: #3fcff3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#restart:hover {
    background-color: #7f3896;
}

#spin-container {
    font-size: 12em;
    text-align: center;
    color: white;
    display: none;
}